[user]
	name = Danny Goodman
	email = goodman.danny@gmail.com
[github]
	user = dgboy2000
[alias]
  ci = commit
  co = checkout
[core]
	excludesfile = /Users/dannygoodman/.gitignore_global
[difftool "sourcetree"]
	cmd = opendiff \"$LOCAL\" \"$REMOTE\"
	path = 
[mergetool "sourcetree"]
	cmd = /Applications/SourceTree.app/Contents/Resources/opendiff-w.sh \"$LOCAL\" \"$REMOTE\" -ancestor \"$BASE\" -merge \"$MERGED\"
	trustExitCode = true
[push]
	default = current
